<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>이메일 찾기</title>
	<link rel="stylesheet" type="text/css" href="../styles/user.css">
</head>
<body>
	<h1>이메일 찾기</h1>
	<form id="email-recovery-form">
		<label for="phoneNumber">휴대폰 번호</label>
		<input type="phoneNumber" id="phoneNumber" required><br>
		
		<label for="name">이름</label>
		<input type="name" id="name" required><br>
		
		<button type="submit">찾기</button>
	</form>

<script src="/scripts/email-recovery.js"></script>
</body>
</html>