<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	<link rel="stylesheet" type="text/css" href="../styles/user.css">
</head>
<body>
	<h1>로그인</h1>
	<form id="login-form">
		<label for="email">이메일</label>
		<input type="email" id="email" required><br>
		
		<label for="password">비밀번호</label>
		<input type="password" id="password" required><br>
		
		<button type="submit">로그인</button>
	</form>

	<div class="button-section">
		<a id="password-reset" href="/users/password-reset">
			비밀번호 찾기
		</a>
		<a id="email-recovery" href="/users/email-recovery">
			이메일 찾기
		</a>
		<a id="signup" href="/users/registration">
			회원가입
		</a>
	</div>

<script src="/scripts/login.js"></script>
</body>
</html>